-
    var i18n = {
        de: {
            mina_nagata: 'Mina Nagata',
            yuko_ellinger: 'Yuko Ellinger',
            path_prefix: '',
            meta: {
                description: 'Klavierunterricht und Klaviermusik in Mainz und Umgebung',
            },
            nav: {
                toggle_menu: 'Menü umschalten',
                home: 'Home',
                audio_samples: 'Hörproben',
                concerts: 'Konzerte',
                offerings: 'Angebot',
                contact: 'Kontakt',
                scroll_to_top: 'Scrolle nach oben',
            },
            home: {
                sub_heading: {
                    qualified_piano_lessons:
                            'Qualifizierter Klavierunterricht für Groß und Klein in Mainz und Umgebung – fragen Sie gerne gleich eine <strong>kostenlose Probestunde</strong> an.',
                    piano_music_for:
                            'Klaviermusik für Hochzeiten, Familienfeste, Hauskonzerte etc.',
                },
                home: {
                    heading: 'Mina Nagata – Klavier/Piano',
                    about_mina:
                            'Mina Nagata wurde in Japan geboren und erhielt ihren ersten Klavierunterricht im Alter von drei Jahren. Zwischen 1990 und 2001 lernte sie bei Yuriko Ueki, Prof. Katsumi Ueda und Keiko Matsuhama. Mina Nagata gewann zahlreiche Jugendwettbewerbe. 2002 bis 2009 begleite sie an der Staatlichen Hochschule für Musik und darstellende Kunst Mannheim den Studiengang „Diplom Musiklehrer“ in der Klasse von Ok-Hi Lee / Prof. Rudolf Meister und „Diplom künstlerische Ausbildung“ bei Prof. Paul Dan. Sie gewann mehrere Preise unter anderem im internationalen Wettbewerb „Gianluca Campochiaro“ (Italien) den 1.Preis und zusammen mit Claudia Schmidt (Violine) den 2.Preis beim „Heinrich-Vetter-Förderpreis“ (Deutschland). Sie tritt in zahlreichen Konzerten als Solistin wie auch als Kammermusikerin auf. Im September 2008 spielte sie mit der TfN-Philharmonie unter der Leitung Wolfgang Wengenroth. Sie nahm an Meisterkursen bei Barry Snyder, Martin Hughes und Bernd Glemser teil. Neben ihrer solistischen und kammermusikalischen Auftritte im In- und Ausland ist Mina Nagata auch eine passionierte Pädagogin. Sie unterrichtet Kinder und Erwachsene.',
                },
                audio_samples: {
                    heading: 'Hörproben',
                    for_two_pianos: 'für 2 Klaviere',
                },
                concerts: {
                    heading: 'Konzerte',
                },
                offerings: {
                    heading: 'Angebot',
                    piano_lessons: {
                        heading: 'Klavierunterricht',
                        list: [
                            'für Kinder und Erwachsene',
                            'für Anfänger und Fortgeschrittene',
                            'Vorbereitung für Wettbewerb und Aufnahmeprüfungen',
                            'Klassik, Pop und Rockmusik',
                        ],
                    },
                    musical_accompaniment: {
                        heading: 'Musikalische Begleitung',
                        list: [
                            'auf Hochzeiten',
                            'auf Familienfeiern (Muttertag, Geburtstag, Trauerfeier usw.)',
                            'Hauskonzerte',
                        ],
                    },
                    concert: {
                        heading: 'Konzerte',
                        list: ['Solo', 'in Duo mit Geige, Flöte oder Klavier', 'in Trio'],
                    },
                },
                contact: {
                    heading: 'Kontakt',
                    leave_me_a_note: 'Kontaktieren Sie mich gerne per Email',
                },
                shared: {
                    piano: 'Klavier',
                    violin: 'Geige',
                    duet: 'Duo',
                    piano_duet: 'Klavierduo',
                },
            },
            footer: {
                imprint: 'Impressum',
                privacy_policy: 'Datenschutzerklärung',
                copyright_notice: '© 2022 Mina Nagata – Alle Rechte vorbehalten',
            },
            imprint: {
                heading: 'Impressum',
                responsible_for_content: 'Verantwortlich für den Inhalt',
                disclaimer: 'Disclaimer',
                content: {
                    heading: 'Haftung für Inhalte',
                    text: 'Die Inhalte meiner Seite wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich als Webseitenbetreiberin jedoch keine Gewähr übernehmen. Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.',
                },
                referrals_and_links: {
                    heading: 'Haftung für Links',
                    text: 'Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen.',
                },
                copyright: {
                    heading: 'Urheberrecht',
                    text: 'Die durch mich erstellten Inhalte und Werke auf dieser Seite inklusive aller Unterseiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.',
                },
            },
            privacy_policy: {
                heading: 'Datenschutzerklärung',
                intro:
                        'Mit dieser Datenschutzerklärung möchten ich Sie über Art, Umfang und Zweck der Verarbeitung von personenbezogenen Daten auf meiner Webseite aufklären. Personenbezogene Daten sind alle Daten, die einen persönlichen Bezug zu Ihnen aufweisen, z. B. Name, Adresse, E-Mail-Adresse oder Nutzerverhalten.',
                responsible_for_data_processing:
                        'Verantwortlich für die Datenverarbeitung',
                webhosting: {
                    heading: 'Webhosting',
                    provider_intro:
                            'Ich bediene mich zum Vorhalten meiner Onlinepräsenz eines Internet-Service-Providers, auf dessen Server meine Webseite gespeichert wird (Hosting) und der die Seite im Internet verfügbar macht. Hierbei verarbeitet der Internet-Service-Provider in meinem Auftrag Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Bestandsdaten sowie Meta- und Kommunikationsdaten. Name und Anschrift des Internet-Service-Providers:',
                    provider_privacy_policy:
                            'Dessen Datenschutzbestimmungen können Sie <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">hier</a> einsehen.',
                    provider_outro:
                            'Der Internetservice-Provider hat seinen Sitz innerhalb der EU. Er ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europäische Daten&shy;schutz&shy;recht einzu&shy;hal&shy;ten.<br><b>Rechtsgrundlage</b>: Der Internet-Service-Provider verarbeitet die vorgenannten Daten in meinem Auftrag, Art. 28 DSGVO. Die Datenverarbeitung erfolgt aufgrund meines berechtigten Interesses an einer effizienten und sicheren Bereitstellung meines Internetangebotes, Art. 6 Abs. 1 lit. f) DSGVO.',
                },
                storage: {
                    heading: 'Speicherdauer/Löschung',
                    text: 'Ich lösche oder sperre Ihre personenbezogenen Daten, sobald der Zweck der Speicherung erreicht ist oder entfällt. Eine darüberhinausgehende Speicherung erfolgt nur, wenn mir dies durch nationale oder europäische Vorschriften aufgegeben wird. Eine Sperrung oder Löschung der Daten erfolgt in diesem Fall dann, wenn die in den jeweiligen Vorschriften vorgeschriebene Speicherfrist abgelaufen ist, es sei denn ich benötige Ihre Daten zur Erfüllung eines zwischen uns geschlossenen Vertrages oder wenn dies zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.',
                },
                contact_options: {
                    heading:
                            'Angaben zu den von mir angebotenen Kontaktaufnahmemöglichkeiten',
                    text: 'Soweit Sie mich über E-Mail, soziale Medien, Telefon, Fax, Post, Kontaktformular oder sonstwie ansprechen und mir hierbei personenbezogene Daten wie Ihren Namen, Ihre Telefonnummer oder Ihre E-Mail-Adresse zur Verfügung stellen oder weitere Angaben zu Ihrer Person oder Ihrem Anliegen machen, werden diese Daten zur Verarbeitung Ihrer Anfrage gespeichert und weiterverarbeitet.<br><b>Rechtsgrundlage</b>: Sofern Sie Ihre Anfrage im Rahmen vertraglicher oder vorvertraglicher Beziehungen mit mir stellen, ist die Rechtsgrundlage für die Verarbeitung Ihrer Daten Art. 6 Abs. 1 lit. b. DSGVO. Sofern Ihre Anfrage nicht unter eine der vorgenannten Kategorien fällt, liegt mein berechtigtes Interesse an der Verarbeitung Ihrer Daten darin, Ihre Anfrage ordnungsgemäß und in Ihrem Sinne zu beantworten, Art. 6 Abs. 1 lit. f DSGVO.<br><b>Löschung</b>: Die von mir erhobenen personenbezogenen Daten werden gelöscht, sofern sie nicht mehr erforderlich sind. Ich überprüfe die Erforderlichkeit alle 2 Jahre. Außerdem können Sie die Datenverarbeitung jederzeit widerrufen.',
                },
                gdpr: {
                    heading: 'Ihre Rechte nach der DSGVO',
                    intro:
                            'Nach der DSGVO stehen Ihnen die nachfolgend aufgeführten Rechte zu, die Sie jederzeit bei mir geltend machen können:',
                    rights: [
                        {
                            heading: 'Recht auf Auskunft',
                            text: 'Sie können nach Art. 15 DSGVO eine Bestätigung darüber verlangen, ob und welche personenbezogenen Daten ich von Ihnen verarbeite. Darüber hinaus können Sie von mir unentgeltlich Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts sowie die Herkunft ihrer Daten, sofern diese nicht bei mir erhoben wurden, verlangen. Ferner steht Ihnen ein Auskunftsrecht darüber zu, ob Ihre personenbezogenen Daten an ein Drittland oder an eine internationale Organisation übermittelt wurden. Sofern dies der Fall ist, steht Ihnen das Recht zu, Auskunft über die geeigneten Garantien im Zusammenhang mit der Übermittlung zu erhalten.',
                        },
                        {
                            heading: 'Recht auf Berichtigung',
                            text: 'Gemäß Art. 16 DSGVO können Sie verlangen, die bei mir gespeicherten und Sie betreffenden personenbezogenen Daten zu berichtigen oder zu vervollständigen.',
                        },
                        {
                            heading: 'Recht auf Löschung',
                            text: 'Gemäß Art. 17 DSGVO steht Ihnen das Recht zu, die Löschung Ihrer bei mir gespeicherten personenbezogenen Daten zu verlangen, soweit ich deren Verarbeitung nicht zu folgenden Zwecken benötige:',
                            sub_list: [
                                'zur Erfüllung einer rechtlichen Verpflichtung,',
                                'zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen,',
                                'zur Ausübung des Rechts auf freie Meinungsäußerung und Information oder',
                                'aus Gründen der in Art. 17 Abs. 3 lit c und d DSGVO genannten Fälle des öffentlichen Interesses.',
                            ],
                        },
                        {
                            heading: 'Recht auf Einschränkung',
                            text: 'Gemäß Art. 18 DSGVO haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn',
                            sub_list: [
                                'die Richtigkeit der Daten von Ihnen bestritten wird, und zwar für eine Dauer, die es mir ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen,',
                                'die Verarbeitung Ihrer Daten unrechtmäßig ist, Sie aber deren Löschung ablehnen und stattdessen die Einschränkung der Nutzung der Daten verlangen,',
                                'ich die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötige, Sie die Daten jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen,',
                                'Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer Daten eingelegt haben, es aber noch nicht feststeht, ob die berechtigten Gründe, die mich trotz Ihres Widerspruches zu einer weiteren Verarbeitung berechtigten, Ihre Rechte überwiegen.',
                            ],
                        },
                        {
                            heading: 'Recht auf Unterrichtung',
                            text: 'Sofern Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung gegenüber mir geltend gemacht haben, bin ich verpflichtet, allen Empfängern, denen gegenüber die Sie betreffenden personenbezogene Daten offengelegt wurden, die von Ihnen verlangte Berichtigung oder Löschung der Daten oder deren Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden. Ihnen steht das Recht zu, von mir über diese Empfänger unterrichtet zu werden.',
                        },
                        {
                            heading: 'Recht auf Datenübertragbarkeit',
                            text: 'Gemäß Art. 20 DSGVO können Sie verlangen, dass ich Ihnen die Sie betreffenden personenbezogenen Daten, die Sie mir bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu Verfügung stelle, oder die Übermittlung an einen anderen Verantwortlichen zu verlangen.',
                        },
                        {
                            heading: 'Beschwerderecht',
                            text: 'Nach Art. 77 DSGVO haben Sie das Recht, sich bei einer Aufsichtsbehörde zu beschweren. Hierfür können Sie sich an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes, Ihres Arbeitsplatzes oder meines Wohnsitzes wenden.',
                        },
                    ],
                },
                withdrawl: {
                    heading: 'Widerrufsrecht',
                    text: 'Gemäß Art. 7 Abs. 3 DSGVO steht Ihnen das Recht zu, Ihre erteilte Einwilligung in die Verarbeitung Ihrer Daten jederzeit mir gegenüber zu widerrufen. Der von Ihnen erklärte Widerruf ändert nichts an der Rechtmäßigkeit der bis zum Widerruf erfolgten Verarbeitung Ihrer personenbezogenen Daten.<br><br><b>Unabhängig vom vorstehend Gesagten, haben Sie das jederzeitige Recht, der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse zu widersprechen.</b><br><br>Ihren Widerspruch richten Sie bitte an meine oben angegebene Kontaktadresse.',
                },
                safety_measures: {
                    heading: 'Sicherheitsmaßnahmen',
                    text: 'Ich treffe im Übrigen technische und organisa&shy;torische Sicherheits&shy;maßnahmen nach dem Stand der Technik, um die Vorschriften der Datenschutzgesetze einzuhalten und Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter zu schützen.',
                },
                valid_until: {
                    title: 'Aktualität und Änderung dieser Datenschutzerklärung',
                    text: 'Diese Datenschutzerklärung ist aktuell gültig und hat den Stand August 2018. Aufgrund geänderter gesetzlicher bzw. behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung anzupassen.',
                },
                created_with: {
                    this_privacy_policy:
                            'Diese Datenschutzerklärung wurde erstellt mit Hilfe von',
                    here: 'Den Datenschutz-Erklärungsgenerator finden Sie hier',
                    is_an_offer_of: 'ist ein Angebot von',
                    based_in: 'mit Sitz in Berlin',
                },
            },
        },
        en: {
            mina_nagata: 'Mina Nagata',
            yuko_ellinger: 'Yuko Ellinger',
            path_prefix: 'en/',
            meta: {
                description: 'Piano lessons and piano music in Mainz and surroundings',
            },
            nav: {
                toggle_menu: 'Toggle menu',
                home: 'Home',
                audio_samples: 'Audio Samples',
                concerts: 'Concerts',
                offerings: 'Offerings',
                contact: 'Contact',
                scroll_to_top: 'Scroll to top',
            },
            home: {
                sub_heading: {
                    qualified_piano_lessons:
                            'Qualified piano lessons for young and old in Mainz and surroundings – please feel free to request a free trial lesson.',
                    piano_music_for:
                            'Piano music for weddings, family celebrations, house concerts etc.',
                },
                home: {
                    heading: 'Mina Nagata – Piano',
                    about_mina:
                            'Mina Nagata was born in Japan and received her first piano lessons at the age of three. Between 1990 and 2001 she studied with Yuriko Ueki, Prof. Katsumi Ueda and Keiko Matsuhama. Mina Nagata won numerous youth competitions. From 2002 to 2009, she attended the degree program “Diploma Music Teacher” in the class of Ok-Hi Lee / Prof. Rudolf Meister and “Diploma of Artistic Education” with Prof. Paul Dan at the Staatlichen Hochschule für Musik und darstellende Kunst Mannheim. She won several awards among others the 1st prize in the international competition “Gianluca Campochiaro” (Italy) and together with Claudia Schmidt (violin) the 2nd prize at the “Heinrich-Vetter-Förderpreis” (Germany). She appears in numerous concerts as a soloist as well as a chamber musician. In September 2008 she played with the TfN Philharmonic under the direction of Wolfgang Wengenroth. She participated in masterclasses with Barry Snyder, Martin Hughes and Bernd Glemser. In addition to her solo and chamber music performances in Germany and abroad, Mina Nagata is also a passionate teacher. She teaches children and adults.',
                },
                audio_samples: {
                    heading: 'Audio Samples',
                    for_two_pianos: 'for 2 pianos',
                },
                concerts: {
                    heading: 'Concerts',
                },
                offerings: {
                    heading: 'Offerings',
                    piano_lessons: {
                        heading: 'Piano Lessons',
                        list: [
                            'for children and adults',
                            'for beginners and advanced students',
                            'Preparation for competition and entrance exams',
                            'Classical, pop and rock music',
                        ],
                    },
                    musical_accompaniment: {
                        heading: 'Musical Accompaniment',
                        list: [
                            'at weddings',
                            'on family gatherings (Mother’s Day, birthday, funeral, etc.)',
                            'house concerts',
                        ],
                    },
                    concert: {
                        heading: 'Concert',
                        list: ['Solo', 'in Duo with violin, flute or piano', 'in Trio'],
                    },
                },
                contact: {
                    heading: 'Contact',
                    leave_me_a_note: 'Leave me a note ♩',
                },
                shared: {
                    piano: 'Piano',
                    violin: 'Violin',
                    duet: 'Duet',
                    piano_duet: 'Piano Duet',
                },
            },
            footer: {
                imprint: 'Imprint',
                privacy_policy: 'Privacy Policy',
                copyright_notice: '© 2022 Mina Nagata – All rights reserved',
            },
            imprint: {
                heading: 'Imprint',
                responsible_for_content: 'Responsible for content',
                disclaimer: 'Disclaimer',
                content: {
                    heading: 'Content',
                    text: 'The author reserves the right not to be responsible for the topicality, correctness, completeness or quality of the information provided. Liability claims regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect, will therefore be rejected. All offers are not-binding and without obligation. Parts of the pages or the complete publication including all offers and information might be extended, changed or partly or completely deleted by the author without separate announcement.',
                },
                referrals_and_links: {
                    heading: 'Referrals and Links',
                    text: 'The author is not responsible for any contents linked or referred to from his pages – unless he has full knowledge of illegal contents and would be able to prevent the visitors of his site from viewing those pages. If any damage occurs by the use of information presented there, only the author of the respective pages might be liable, not the one who has linked to these pages. Furthermore the author is not liable for any postings or messages published by users of discussion boards, guestbooks or mailing lists provided on his page.',
                },
                copyright: {
                    heading: 'Copyright',
                    text: 'The author intended not to use any copyrighted material for the publication or, if not possible, to indicate the copyright of the respective object. The copyright for any material created by the author is reserved. Any duplication or use of objects such as images, diagrams, sounds or texts in other electronic or printed publications is not permitted without the author’s agreement.',
                },
            },
            privacy_policy: {
                heading: 'Privacy Policy',
                intro:
                        'With this privacy policy I would like to inform you about the nature, extent and purpose of the processing of personal data on my website. Personal data is any data that has a personal relationship with you, eg. name, address, e-mail address or user behaviour.',
                responsible_for_data_processing: 'Responsible for data processing',
                webhosting: {
                    heading: 'Webhosting',
                    provider_intro:
                            'I use an internet service provider to provide my online presence. My website is stored on the server of that internet service provider (hosting) and made available on the Internet. Here, the Internet service provider processes contact data, contract data, usage data, inventory data as well as meta and communication data on my behalf. Name and address of the Internet service provider:',
                    provider_privacy_policy: 'Its privacy policy can be viewed <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">here</a>.',
                    provider_outro:
                            'The internet service provider is located within the EU. The provider is certified under the Privacy Shield Agreement, which provides a guarantee to comply with European data protection law. Legal basis: The Internet service provider processes the aforementioned data on my behalf, Art. 28 GDPR. The data processing is based on my legitimate interest in an efficient and secure provision of my internet offer, Art. 6 para. 1 lit. f) GDPR.',
                },
                storage: {
                    heading: 'Storage duration/deletion',
                    text: 'I delete or block your personal data as soon as the purpose of the storage is achieved or has expired. Any further storage will only take place if this is assigned to me by national or European regulations. A suspension or deletion of the data takes place if the storage period prescribed in the respective regulations expires, unless I need your data for the fulfillment of a contract concluded between us or if this is necessary for the assertion, exercise or defense of legal claims.',
                },
                contact_options: {
                    heading: 'Information about the contact options I offer',
                    text: 'As far as you contact me via e-mail, social media, telephone, fax, mail, contact form or any other way and provide me with personal data such as your name, telephone number or e-mail address, or other information about yourself or your concern this data will be stored and processed to handle your request. Legal basis: If you submit your request in the context of contractual or pre-contractual relations with me, the legal basis for the processing of your data is Art. 6 (1) lit. b. GDPR. If your request does not fall into any of the above categories, my legitimate interest in the processing of your data is to answer your request properly and in your favour, Art. 6 para. 1 lit. f GDPR. Deletion: The personal data collected by me will be deleted, if it is no longer necessary. I check the requirement every 2 years. You can also revoke the data processing at any time.',
                },
                gdpr: {
                    heading: 'Your rights under the GDPR',
                    intro:
                            'According to the GDPR, you have the following rights, which you can assert with me at any time:',
                    rights: [
                        {
                            heading: 'The right to obtain information',
                            text: 'According to Art. 15 GDPR, you can request confirmation of whether and which personal data I process from you. In addition, you can request free of charge information about the processing purposes, the category of personal data, the categories of recipients to whom your data has been disclosed or the planned storage period, the right of rectification, deletion, limitation of processing or opposition, the existence of a right of appeal and the origin of the data, if it was not collected by me. You also have the right to know whether your personal data has been transmitted to a third country or to an international organisation. If so, you have the right to obtain information about the appropriate guarantees in connection with the transfer.',
                        },
                        {
                            heading: 'The right to demand correction',
                            text: 'Pursuant to Art. 16 GDPR, you may request to correct or complete the personal data relating to you and stored in my possession.',
                        },
                        {
                            heading: 'The right to demand deletion',
                            text: 'According to Art. 17 DSGVO you have the right to demand the deletion of your personal data stored by me, as far as I do not need it for the following purposes:',
                            sub_list: [
                                'to fulfill a legal obligation,',
                                'to assert, exercise or defend legal claims,',
                                'to exercise the right of free expression and information or',
                                'for the purposes of public interest referred to in Article 17 (3) (c) and (d) of the GDPR.',
                            ],
                        },
                        {
                            heading: 'The right to demand restriction',
                            text: 'According to Art. 18 GDPR you have the right to demand the restriction of the processing of your personal data, if',
                            sub_list: [
                                'The accuracy of the data is disputed by you, for a period of time that allows me to verify the accuracy of your personal information,',
                                'the processing of your data is unlawful, but you reject its deletion and instead demand the restriction of the use of the data,',
                                'I no longer need your personal information for processing purposes, but you need it to assert, exercise or defend your rights,',
                                'You have lodged an objection against the processing of your data in accordance with Art. 21 GDPR, but it is not yet certain whether the legitimate reasons that justified me despite your objection to further processing outweigh your rights.',
                            ],
                        },
                        {
                            heading: 'The right to demand disclosure',
                            text: 'If you have asserted the right of rectification, deletion or restriction of your personal data processed by me, I am obliged to inform all recipients to whom the personal data concerning you has been made available about the correction or deletion or the limitation of the processing of the data requested by you unless this proves impossible or involves disproportionate effort. You have the right to be informed by me about these recipients.',
                        },
                        {
                            heading: 'The right to demand data portability',
                            text: 'Pursuant to Art. 20 GDPR, you may request that I provide you with the personal data you have provided to me in a structured, standard and machine-readable format, or request that I send it to another person in charge.',
                        },
                        {
                            heading: 'The right of appeal',
                            text: 'According to Art. 77 GDPR you have the right to complain to a supervisory authority. For this you can contact the supervisory authority of your usual place of residence, your job or my residence.',
                        },
                    ],
                },
                withdrawl: {
                    heading: 'The right of withdrawal',
                    text: 'You have the right at any time to object to the processing of the personal data concerning you, which is based on a balance of interests (Article 6 (1) (f) GDPR), for reasons that arise from your particular situation. This is especially the case if the data processing is not required to fulfill a contract. If you exercise your right of objection, I ask you to explain the reasons. I will then no longer process your personal information, unless I can prove to you that compelling legitimate reasons for data processing outweigh your interests and rights.<br><br><b>Regardless of the foregoing, you have the right to object to the processing of your personal information for advertising and data analysis purposes.</b><br><br>Please direct your objection to my contact address given above.',
                },
                safety_measures: {
                    heading: 'Safety measures',
                    text: 'Incidentally, I take technical and organisational security measures according to the state of the art in order to comply with the provisions of data protection laws and to protect your data against accidental or intentional manipulation, partial or total loss, destruction or against unauthorised access by third parties.Actuality and change of this privacy policy.',
                },
                valid_until: {
                    title: 'Validity of and changes to this data protection declaration',
                    text: 'This privacy policy is currently valid and has been updated on August 2018. Due to changes in legal or regulatory requirements, it may be necessary to adapt this Privacy Policy.',
                },
                created_with: {
                    this_privacy_policy: 'This privacy policy has been created using',
                    here: 'The Privacy Statement Generator can be found here',
                    is_an_offer_of: 'is an offer of',
                    based_in: 'based in Berlin',
                },
            },
        },
        ja: {
            mina_nagata: '永田美奈',
            yuko_ellinger: 'エリンガー優子',
            path_prefix: 'ja/',
            meta: {
                description: 'マインツおよび周辺地域でのピアノレッスンとピアノ演奏',
            },
            nav: {
                toggle_menu: 'メニューを切り替える',
                home: 'ホーム',
                audio_samples: '試聴',
                concerts: 'コンサート',
                offerings: 'オファー',
                contact: 'お問い合わせ',
                scroll_to_top: 'トップへスクロール',
            },
            home: {
                sub_heading: {
                    qualified_piano_lessons:
                            'マインツおよび周辺地域での子どもから大人までのための<strong>体験無料</strong>ピアノレッスン。どうぞお気軽にお問い合わせください。',
                    piano_music_for:
                            '結婚式、家族のお祝い、ホームコンサートなどでのピアノ演奏。',
                },
                home: {
                    heading: '永田美奈 – ピアノ',
                    about_mina:
                            '永田美奈は日本に生まれ、3歳からピアノを学び始めました。1990年から2001年にかけて、植木由利子、植田克己教授、松浜恵子の各氏に師事し、多くのジュニアコンクールで入賞しました。2002年から2009年まではマンハイム音楽大学にてオク・ヒ・リー／ルドルフ・マイスター教授のクラスで「音楽教育ディプロム」、ポール・ダン教授のクラスで「芸術ディプロム」を修了しました。イタリアの国際コンクール「ジャンルカ・カンポキアーロ」第1位、クラウディア・シュミット（ヴァイオリン）とのデュオでドイツの「ハインリッヒ・フェッター奨励賞」第2位など、数々の賞を受賞しています。ソリストおよび室内楽奏者として数多くのコンサートに出演し、2008年9月にはウォルフガング・ヴェンゲンロート指揮のTfNフィルハーモニーと共演しました。バリー・スナイダー、マーティン・ヒューズ、ベルント・グレムザー各氏のマスタークラスにも参加しています。国内外でのソロおよび室内楽の活動に加え、永田美奈は情熱的な教育者として子どもから大人まで幅広い世代にピアノを指導しています。',
                },
                audio_samples: {
                    heading: '試聴',
                    for_two_pianos: '2台ピアノのための作品',
                },
                concerts: {
                    heading: 'コンサート',
                },
                offerings: {
                    heading: 'オファー',
                    piano_lessons: {
                        heading: 'ピアノレッスン',
                        list: [
                            '子どもおよび大人向け',
                            '初心者から上級者まで',
                            'コンクールや受験の準備',
                            'クラシック、ポップス、ロック',
                        ],
                    },
                    musical_accompaniment: {
                        heading: '演奏依頼',
                        list: [
                            '結婚式での演奏',
                            '母の日・誕生日・告別式など家族行事での演奏',
                            'ホームコンサート',
                        ],
                    },
                    concert: {
                        heading: 'コンサート',
                        list: [
                            'ソロ',
                            'ヴァイオリン、フルート、ピアノとのデュオ',
                            'トリオ',
                        ],
                    },
                },
                contact: {
                    heading: 'お問い合わせ',
                    leave_me_a_note: 'お気軽にメッセージをお送りください ♩',
                },
                shared: {
                    piano: 'ピアノ',
                    violin: 'ヴァイオリン',
                    duet: 'デュオ',
                    piano_duet: 'ピアノデュオ',
                },
            },
            footer: {
                imprint: 'インプリント（サイト運営者情報）',
                privacy_policy: 'プライバシーポリシー',
                copyright_notice:
                        '© 2022 永田美奈 – 無断転載を禁じます',
            },
            imprint: {
                heading: 'インプリント',
                responsible_for_content: 'コンテンツ責任者',
                disclaimer: '免責事項',
                content: {
                    heading: 'コンテンツについての責任',
                    text:
                            '本ウェブサイトの内容は細心の注意を払って作成されていますが、その正確性、完全性および最新性について保証するものではありません。サイト運営者は、一般法に基づき、§ 7 Abs.1 TMG に従って自ら提供するコンテンツについて責任を負います。一方、§§ 8 〜 10 TMG に従い、サービス提供者は送信または保存された第三者の情報を監視したり、違法行為を示す状況を積極的に調査する義務を負いません。一般法に基づく情報の削除または利用停止の義務はこれにより影響を受けません。これに関する責任は、具体的な違法行為の認識を得た時点からのみ生じます。違法行為が判明した場合には、当該コンテンツを速やかに削除します。',
                },
                referrals_and_links: {
                    heading: 'リンク先についての責任',
                    text:
                            '本ウェブサイトには、第三者が運営する外部サイトへのリンクが含まれています。リンク先の内容については一切の影響力を持たないため、これら外部コンテンツに対しても一切の責任を負いません。リンクされたページの内容についての責任は、常に各サイトの提供者または運営者にあります。リンク設定時には、違法な内容がないか確認を行っており、その時点では違法なコンテンツは確認されていません。具体的な違法行為の手掛かりがない限り、リンク先ページの継続的な内容監視は合理的ではありません。違法行為が判明した場合には、該当するリンクを速やかに削除します。',
                },
                copyright: {
                    heading: '著作権',
                    text:
                            '本サイトおよび全ての下層ページ上でサイト運営者が作成したコンテンツや作品は、ドイツ著作権法により保護されています。著作権法の範囲を超えた複製、編集、配布、その他あらゆる形式での利用には、各著作者または作成者による書面での事前の許可が必要です。本サイトからのダウンロードやコピーは、私的かつ非営利目的に限り許可されます。本サイト上のコンテンツが運営者以外の第三者によって作成されている場合には、その旨を明示し、第三者の著作権を尊重します。万が一、著作権侵害にお気付きの場合はご連絡ください。違反が確認されたコンテンツについては速やかに削除いたします。',
                },
            },
            privacy_policy: {
                heading: 'プライバシーポリシー',
                intro:
                        '本プライバシーポリシーでは、本ウェブサイトにおける個人データの収集・利用の種類、範囲および目的についてご説明します。個人データとは、氏名、住所、メールアドレス、ユーザー行動など、お客様個人を識別できるあらゆる情報を指します。',
                responsible_for_data_processing: 'データ処理の責任者',
                webhosting: {
                    heading: 'ウェブホスティング',
                    provider_intro:
                            '本オンライン・プレゼンスを提供するため、インターネット・サービス・プロバイダを利用しています。ウェブサイトはそのサーバーに保存され（ホスティング）、インターネット上で公開されます。この際、インターネット・サービス・プロバイダは、運営者に代わって連絡先データ、コンテンツデータ、契約データ、利用データ、在庫データ、メタデータおよび通信データを処理します。インターネット・サービス・プロバイダの名称および住所：',
                    provider_privacy_policy:
                            'プロバイダのプライバシーポリシーは<a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">こちら</a>でご覧いただけます。',
                    provider_outro:
                            'インターネット・サービス・プロバイダはEU域内に所在し、Privacy Shield協定に基づく認証を受けており、これにより欧州のデータ保護法を遵守することが保証されています。<br><b>法的根拠</b>：インターネット・サービス・プロバイダは、データ処理契約（GDPR第28条）に基づき、上記データを運営者に代わって処理します。データ処理は、本インターネット提供を効率的かつ安全に行うという正当な利益（GDPR第6条1項f）に基づいて行われます。',
                },
                storage: {
                    heading: '保存期間・削除',
                    text:
                            'お客様の個人データは、保存目的が達成された時点、またはその目的がなくなった時点で削除またはブロックされます。それを超える保存は、国内または欧州の法令により義務付けられている場合にのみ行われます。その場合、各法令で定められた保存期間が満了し、かつ当該データが締結済み契約の履行や、法的請求の行使・防御のために必要でなくなった時点で、データは削除またはブロックされます。',
                },
                contact_options: {
                    heading: 'お問い合わせ手段について',
                    text:
                            'お客様がメール、ソーシャルメディア、電話、FAX、郵便、コンタクトフォームその他の手段で連絡され、その際に氏名、電話番号、メールアドレスなどの個人データや、お客様ご自身やご要望に関する追加情報を提供された場合、これらのデータはお問い合わせへの対応のために保存・処理されます。<br><b>法的根拠</b>：お問い合わせが契約上または契約前の関係に関連する場合、データ処理の法的根拠はGDPR第6条1項bとなります。上記に該当しないお問い合わせについては、お客様のご要望に適切に対応するという正当な利益に基づき、GDPR第6条1項fに従ってデータを処理します。<br><b>削除</b>：収集した個人データは、目的達成のために不要になり次第削除されます。必要性については2年ごとに見直しを行います。また、お客様はいつでもデータ処理に対する同意を撤回することができます。',
                },
                gdpr: {
                    heading: 'GDPR に基づくお客様の権利',
                    intro:
                            'GDPR に基づき、お客様には以下の権利が認められており、いつでも運営者に対して行使することができます。',
                    rights: [
                        {
                            heading: '開示請求権（アクセス権）',
                            text:
                                    'GDPR第15条に基づき、運営者がどのような個人データを処理しているかについて確認を求めることができます。また、処理目的、個人データのカテゴリ、データが開示された受領者のカテゴリまたは予定保存期間、訂正・削除・処理制限または異議申立ての権利、苦情申立て権の存在、および運営者以外から取得したデータである場合はその出所について、無償で情報提供を受ける権利があります。さらに、お客様の個人データが第三国または国際機関に移転されたかどうかについて知る権利があり、その場合には、移転に関する適切な保護措置についての情報を受ける権利があります。',
                        },
                        {
                            heading: '訂正請求権',
                            text:
                                    'GDPR第16条に基づき、お客様は運営者が保有するお客様に関する不正確な個人データの訂正を求めることができ、また不完全なデータの補完を求めることができます。',
                        },
                        {
                            heading: '削除請求権',
                            text:
                                    'GDPR第17条に基づき、以下の目的のためにデータ処理が必要でない限り、運営者が保有するお客様の個人データの削除を求める権利があります。',
                            sub_list: [
                                '法的義務を履行するため。',
                                '法的請求の行使・行使準備・防御のため。',
                                '表現および情報の自由の権利を行使するため。',
                                'GDPR第17条3項(c)および(d)に規定される公益上の理由のため。',
                            ],
                        },
                        {
                            heading: '処理制限請求権',
                            text:
                                    'GDPR第18条に基づき、以下の場合にはお客様の個人データの処理の制限を求める権利があります。',
                            sub_list: [
                                '個人データの正確性をお客様が争う場合（運営者がデータの正確性を確認する期間）。',
                                'データ処理が違法であるが、お客様がデータの削除を拒否し、代わりに処理の制限を求める場合。',
                                '運営者が処理目的にデータを必要としなくなったが、お客様が法的請求の行使・行使準備・防御のために引き続き必要とする場合。',
                                'お客様がGDPR第21条に基づき処理に異議を申し立てており、運営者の正当な理由がお客様の権利を優越するかどうかの判断がつくまでの間。',
                            ],
                        },
                        {
                            heading: '通知を受ける権利',
                            text:
                                    'お客様が運営者に対して個人データの訂正、削除、または処理制限を請求した場合、運営者は、それが不可能であるか、または不相応な労力を要する場合を除き、お客様の個人データが開示されたすべての受領者に対して、その訂正・削除・処理制限について通知する義務を負います。お客様は、これらの受領者について運営者から通知を受ける権利を有します。',
                        },
                        {
                            heading: 'データポータビリティ権',
                            text:
                                    'GDPR第20条に基づき、お客様は、運営者に提供したお客様自身に関する個人データを、構造化され、一般的に使用され、機械可読な形式で受け取る権利、または別の管理者へのデータの直接移転を要求する権利を有します。',
                        },
                        {
                            heading: '苦情申立て権',
                            text:
                                    'GDPR第77条に基づき、お客様は監督機関に苦情を申し立てる権利を有します。通常は、お客様の常居所地、勤務先または運営者の所在地を管轄する監督機関に連絡することができます。',
                        },
                    ],
                },
                withdrawl: {
                    heading: '同意撤回権・異議申立て権',
                    text:
                            'GDPR第7条3項に基づき、お客様は、データ処理に関する同意をいつでも撤回する権利を有します。撤回前に行われたデータ処理の適法性は、撤回によって影響を受けません。<br><br><b>また、いつでも広告目的およびデータ分析目的で行われるお客様の個人データの処理に対して異議を申し立てる権利があります。</b><br><br>異議のお申し出は、本プライバシーポリシー冒頭に記載の連絡先宛てにお願いいたします。',
                },
                safety_measures: {
                    heading: '安全対策',
                    text:
                            '運営者は、データ保護関連法令を遵守し、お客様のデータが偶発的または不正な改ざん、部分的または完全な喪失・破壊、ならびに第三者による不正アクセスから保護されるよう、技術的および組織的な安全対策を最新の技術水準に基づいて講じています。',
                },
                valid_until: {
                    title: '本プライバシーポリシーの有効性および変更',
                    text:
                            '本プライバシーポリシーは現在有効であり、2018年8月時点のものです。法令や行政上の要請の変更に伴い、本プライバシーポリシーの内容が将来変更される場合があります。',
                },
                created_with: {
                    this_privacy_policy:
                            '本プライバシーポリシーは次のサービスを利用して作成されました：',
                    here: 'プライバシーポリシー生成ツールはこちら',
                    is_an_offer_of: 'は次の事業者による提供です：',
                    based_in: '（所在地：ベルリン）',
                },
            },
        },
    }
