name: CI/CD
on: [push, pull_request]

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy to GitHub pages
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22]

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Node v${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache-dependency-path: pnpm-lock.yaml

      - uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - name: Build
        run: pnpm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: dist